# Qt и CMake временные файлы
build-*/
build/
*.user
*.autosave
.qmake.stash
Makefile
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.sln
*.vcxproj*
*.vcproj*
*.xcodeproj
*.DS_Store
*.o
*.a
*.so
*.dll
*.exe
*.obj
*.ilk
*.pdb
*.lib
*.exp
*.idb
*.log
*.tmp
*.cache
*.depend
*.moc
*.qm
*.rc
*.res
*.ts
*.qm
*.qrc.d
*.qrc
*.qmlc
*.jsc
*.pyc
__pycache__/
*.pyo
*.pyd
Thumbs.db
*.suo
*.ncb
*.sdf
*.opensdf
*.opendb
*.db
*.db-shm
*.db-wal